<div class="home-container">
<section class="banner">
    <span><mat-icon aria-hidden="false" class="movie" aria-label="Example movie icon">movie</mat-icon></span>
<h1>
    Watch Movies Online
</h1>
<p>
    watch any movies online for free from different categories available
</p>
</section>

<section class="about">
    <span><mat-icon aria-hidden="false" class="movie-about" aria-label="Example movie icon">movie_filter</mat-icon></span>
    <h3>
        About Us
    </h3>
    <p>
        We are providing online streaming of movies for free for a day have a look and pay later if you want to 
        be a member.
    </p>
</section>
</div>
